.hero-wrapper{
    background: url('../../assets/study.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-top: 100px;
    filter: blur(20%);
}
.hero-wrapper .hero-head{
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}
.hero-wrapper .hero-subhead{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: large;
}
.hero-wrapper .hero-btn{
    text-align: left;
    
}
.hero-wrapper .hero-btn button{
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    font-size: large;
    background-color: rgb(255, 20, 98);
}
.hero-wrapper .hero-btn button:hover{
    background-color: rgba(255, 20, 98,0.8)
}